.sign-in{
    background-color: white;
    text-align: center;
    margin: 5rem auto;
    width: fit-content;
    padding: 2rem;
    font-size: 4rem;
    font-weight: bold;
    border-radius: 2rem;
    box-shadow: 0px 0px 16px #151515;
}

.button{
    display: block;
    margin: 1rem auto;
    font-size: 2rem;
    border-radius: .5rem;
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: .5rem;
}

.button:hover{
    box-shadow: 0px 0px 8px #888;
}