.share-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-light);
    padding: 1rem;
    width: fit-content;
    margin: auto;
    border-radius: .5rem;
    box-shadow: 0px 0px 16px rgb(35, 35, 35);
}

.share-modal span{
    font-size: 2rem;
    font-weight: bold;
    color: var(--clr-white);
}

.invite-friend{
    width: 80%;
    height: 2rem;
    padding: .5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: 2rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 0px 0px 16px rgb(43, 43, 43);
    align-self: center;
}

.close-modal{
    position: fixed;
    left: 1rem;
    top: 1rem;
    background-color: var(--clr-dark);
    color: var(--clr-white);
    border:none;
    border-radius: 50%;
    box-shadow: 0pc 0pc 8px rgb(37, 37, 37);
    font-size: 1rem;
    width: 1.5em;
    height: 1.5em;
}

.copy-link{
    background-color: var(--clr-primary);
    color: var(--clr-white);
    font-size: 1.5rem;
    border: none;
    border-radius: .5em;
    padding: .5em;
}
