.sign-out{
    position:absolute;
    right: 0;
    bottom: 0;
    background-color: var(--clr-white);
    font-size: 1rem;
    font-weight: bold;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
    border: none;
    z-index: 1;

    transition: all .5s;
}

.sign-out:hover{
    background-color: var(--clr-light);
    color: var(--clr-white);
    transform: scale(1.2);
}